{% extends 'base.html' %}
{% block content %}
<body>
  <main>
      <!-- conteúdo da música -->
      <div class="titleMusic">Titulo: {{ musicTitle }}</div>
      <div class="autMusic">Autor: {{ musicArtist[0] }}</div> 
      <div><img src="{{ musicArtist[1] }}" class="imgMusic"></div>
      <div class="linkMusic">Link da música: <a href="{{ musicLink }}">a</a></div>

      <audio controls>
          <source src="{{ musicPreview }}" type="audio/mpeg">
          Seu navegador não suporta áudio 😢
      </audio>
  </main>

</body>

{% endblock %}